<div class="row">
	<div class="span6 offset3">
		<div class="well">
	<p>
  		<b>Description:</b>
  		<%= @impact.description %>
	</p>
	<p>
  		<%= @impact.user.name %>
	</p>
	<% if current_user == @impact.user %>
	<%= link_to 'Edit', edit_impact_path(@impact) %> |
	<% end %>
	<%= link_to 'Back', impacts_path %>
		</div>
	</div>
</div>