<% unless user_signed_in? %>	

<div class="hero-unit">
<center><h1>Welcome!</h1>
Iotagive is a place where users can share and like photographs while raising money for non-profits
	<p><%= link_to  "Sign Up Now!" , new_user_registration_path , class: "btn btn-primary btn-large" %>
</p>
</center>
</div>
<% end %>
